@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import './variables';
@import '../components/header/styles.css';
@import '../components/heroSlider/styles.css';
@import '../components/activities/styles.css';
@import '../components/alreadyDone/styles.css';
@import '../components/footer/styles.css';
@import '../components/petGallery/styles.css';
@import '../components/modal/styles.css';
@import '../pages/quem-somos/styles.css';
@import '../pages/clinica-veterinaria/styles.css';
@import '../pages/adote/guarda-responsavel/styles.css';

//Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  color: $tertiary;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
#page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.display--none {
  display: none;
}
.rotate90 {
  transform: rotate(90deg);
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 700;
  color: black;
}
