.activities {
  .activity__container {
    @include flexSection();

    .activity {
      text-align: center;
      max-width: 260px;
      height: 200px;
      text-wrap: balance;
      padding: 20px;
      transition: transform $transition;
      cursor: pointer;
      gap: 20px;

      &:hover {
        transform: scale(1.2);
        transition: transform $transition;
      }
      .activity__image--container {
        height: 70px;
        .activity__image {
          max-width: 60px;
          max-height: 50px;
        }
      }
    }
  }
}
