.activities {
  .activity__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .activity {
      text-align: center;
      max-width: 260px;
      height: 200px;
      text-wrap: balance;
      padding: 20px;
      transition: transform $transition;
      cursor: pointer;
      gap: 20px;

      &:hover {
        transform: scale(1.2);
        transition: transform $transition;
      }
      .activity__image--container {
        height: 70px;
        .activity__image {
          max-width: 60px;
          max-height: 50px;
        }
      }
    }
  }

  @media (max-width: 1220px) {
    .activity__container {
      max-width: 640px;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  @media (max-width: 700px) {
    .activity__container {
      max-width: 340px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

    }
  }
}
